<body>
    <nav>
        <a routerLink="/employee">Home</a>
        <a class="default">View Products</a>
        <a routerLink="/orders">My Orders</a>
        <a routerLink="/cart">Cart</a>
        <a routerLink="updatepassword">Update Password</a>
        <a routerLink="/" class="redhover" style="color:red">Logout</a>
    </nav>
    <div class="product-container" *ngFor="let chunk of chunkedProducts">
        <div *ngFor="let product of chunk" [ngClass]="{'nobuy': product.merchCost > (totalCurrentPoints), 'product-card': product.merchCost <= (totalCurrentPoints)}">
            <img src="data:image/png;base64,{{product.merchImagePath}}" alt="Product Image" class="product-image">
            <div class="product-details">
                <div class="product-title bold">{{product.merchName}}</div>
                <div class="product-description"><mark>{{product.merchCategory}}</mark><mark [ngClass]="{'outofstock': product.merchStatus==='out-of-stock', 'green-mark': product.merchStatus==='In Stock'}" class="greenmark">{{product.merchStatus}}</mark></div>
                <div class="product-description">Manufacturer : <span class="bold">{{product.merchManufacturer}}</span></div>
                <div class="product-description">{{product.merchDescription}}</div>
                <div *ngIf="product.merchExpiryDate" class="product-description">
                    Expiry Date : <span class="redtext">{{product.merchExpiryDate}}</span>
                </div>
                <hr>
                <div class="center">
                <div class="bold">Bytes : <span class="green">{{product.merchCost}}</span></div>
                <div class="flex" *ngIf="product.merchStatus==='In Stock'">
                <button [disabled]="product.merchCost > (totalCurrentPoints)" (click)="handleSubmit(product.merchId,product.merchCost)" [ngClass]="{'nobuybutton flex': product.merchCost > (totalPoints-totalDebitPoints), 'button flex': product.merchCost <= (totalCurrentPoints)}">Buy Now</button>&nbsp;&nbsp;
                <button [disabled]="product.merchCost > (totalCurrentPoints)" (click)="handleCartSubmit(product.merchId,product.merchCost)" [ngClass]="{'nobuybutton flex': product.merchCost > (totalPoints-totalDebitPoints), 'button flex': product.merchCost <= (totalCurrentPoints)}">Add to Cart</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="success-message" *ngIf="showSuccessMessage">
        <div class="message-content">
            Successfully bought the product !
        </div>
    </div>

    <div class="success-message" *ngIf="showSuccessMessage2">
        <div class="message-content">
            Successfully added to cart !
        </div>
    </div>
</body>