<nav>
    <a routerLink="/employee">Home</a>
    <a routerLink="/products">View Products</a>
    <a routerLink="/orders">My Orders</a>
    <a routerLink="/cart">Cart</a>
    <a class="default">Update Password</a>
    <a routerLink="/" class="redhover" (click)="logout()">Logout</a>
</nav>

<div class="center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="passwords">Enter the Previous Password</div><br>
        <input type="text" class="input" formControlName="oldPassword" required>
        <div class="passwords">Enter the New Password</div><br>
        <input type="password" class="input" formControlName="newPassword" required><br>
        <input class="button" type="submit" value="Update Password">
    </form>
</div>
<div class="success-message danger" *ngIf="showSuccessMessage==0">
    <div class="message-content">
        Old Password is Not Valid !
    </div>
  </div>
  <div class="success-message" *ngIf="showSuccessMessage==2">
    <div class="message-content">
        Password changed successfully !
    </div>
  </div>
  <div class="success-message danger" *ngIf="showSuccessMessage==1">
    <div class="message-content">
        Old Password and New Password should not be Same !
    </div>
  </div>