.addremarks{
    height: 30px;
    padding: 8px;
    border-radius: 10px;
    border:solid #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

.buttonparent{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
  

.column{
    padding: 30px;
    font-weight: bold;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

*{
    font-weight: bold;
}


table{
    text-align:center;
    margin-top: 20px;
    margin-left: 20%;
    border-collapse: collapse;
    font-weight: bold;
}
th,td{
    padding: 20px;
}

.pointadd{
    height: 50px;
    width: 80px;
    text-align: center;
    border:solid #333;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

nav {
    display: flex;
    background-color: #444;
    justify-content:space-between;
    padding: 10px;
}

.success-message {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    position: fixed; /* Fixed position */
    top: 50%; /* Position from top */
    left: 50%; /* Position from left */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    z-index: 9999; /* Make sure it's above other content */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); /* Offset X, Offset Y, Blur Radius, Spread Radius, Color */
    height: 100px;
  }

.message-content{
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: normal !important;
}

nav a:hover {
    background-color: #555;
    color:cornflowerblue;
}
.default{
    background-color: #555;
    color:cornflowerblue !important;
  }
  
  .default:hover{
    cursor: default;
  }