<body>
    <nav>
        <a routerLink="/admin">Home</a>
        <a routerLink="/adminproducts">Products</a>
        <a routerLink="/addproducts">Product Allocation</a>
        <a class="default">Point Allocation</a>
        <a routerLink="/viewemployees">View Employees</a>
        <a routerLink="/employeebyadmin">Add Employees</a>
        <a routerLink="/employee">Login as Employee</a>
        <a routerLink="/" class="redhover" style="color: red;" (click)="logout()">Logout</a>
    </nav>
    <form (ngSubmit)="onSubmit()">
    <table border="3" >
        <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Add Points</th>
        <th>Award/Performance</th>
        <th>Remarks</th>
        </tr>
            <tr *ngFor="let employee of employeeList">
                <td class="column" *ngIf="employee.employeeStatus==='active'">{{employee.employeeId}}</td>
                <td class="column" *ngIf="employee.employeeStatus==='active'">{{employee.employeeFirstName}}</td>
                <td class="column" *ngIf="employee.employeeStatus==='active'">
                    <input type="number" class="pointadd" [(ngModel)]="employee.point" name="point">
                </td>
                <td class="column" *ngIf="employee.employeeStatus==='active'">
                    <input type="text" class="addremarks" [(ngModel)]="employee.award" name="award">
                </td>
                <td class="column" *ngIf="employee.employeeStatus==='active'">
                    <input type="text" class="addremarks" [(ngModel)]="employee.remarks" name="remarks">
                </td>
            </tr>
    </table>
    <div class="buttonparent">
        <button class="button">Submit</button>
    </div>
    <div class="success-message" *ngIf="showSuccessMessage">
        <div class="message-content">
        Successfully added Points !
        </div>
    </div>
    </form>
</body>