header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
.body{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: white;
  }

.paddingsmall{
  padding-bottom: 10px;
}

.fullbody{
  background-color: #e6e6e6;
}

select{
  width: 200px;
  height: 38px;
  border: solid #8c8b87;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.twoinone{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

input[type="text"] {
  padding: 8px; /* Adjust the padding as needed */
  border-radius: 5px;
  border: solid #8c8b87;
}

input[type="number"] {
  padding: 8px; /* Adjust the padding as needed */
  border-radius: 5px;
  border: solid #8c8b87;
}

input[type="date"] {
  padding: 8px; /* Adjust the padding as needed */
  border-radius: 5px;
  border: solid #8c8b87;
}

.right{
  padding-left: 20px;
}

.longcolumn{
  padding:20px;
}

textarea{
  width: 420px;
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  resize: vertical;
  border-radius: 10px;
  padding:10px;
  border: solid #8c8b87;
}

form .button{
  height: 45px;
  margin: 35px 0
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #333;
}
form .button input:hover{
 /* transform: scale(0.99); */
 background-color: #333;
 }

 nav {
  display: flex;
  background-color: #444;
  justify-content:space-between;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
  color:cornflowerblue;
}

.default{
  background-color: #555;
  color:cornflowerblue !important;
}

.default:hover{
  cursor: default;
}

.text-danger{
  color: red;
  font-size: 10px;
}

.success-message {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 15px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  position: fixed; /* Fixed position */
  top: 50%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  z-index: 9999; /* Make sure it's above other content */
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); /* Offset X, Offset Y, Blur Radius, Spread Radius, Color */
  height: 100px;
}

.message-content{
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}