nav {
    display: flex;
    background-color: #444;
    justify-content:space-between;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #555;
    color:cornflowerblue;
}

.default{
  background-color: #555;
  color:cornflowerblue !important;
}

.total{
    text-align:center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.success-message {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    position: fixed; /* Fixed position */
    top: 50%; /* Position from top */
    left: 50%; /* Position from left */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    z-index: 9999; /* Make sure it's above other content */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); /* Offset X, Offset Y, Blur Radius, Spread Radius, Color */
    height: 100px;
  }

.message-content{
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.button{
    margin-top: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
}

.emptycart{
  text-align: center;
}

.danger{
  background-color: red;
  color: white;
}

.product-image{
  height: 100px;
  width: 100px;
}
.default:hover{
  cursor: default;
}

.green{
    color: green;
}

button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.default:hover{
  cursor: default;
}

.redhover{
    color:red !important;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }